body {
    background-image: url("fundo-site-portfólio.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0%;
    padding: 0%;
    width: 100%;
    min-height:100%;
    max-width: 1920px;
}
/*HEADER*/
.navbar a{
    text-decoration: none;
}
.navbar {
    width: 100%;
    box-sizing: border-box;

    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;
    background: #020b17;
    border: 1px solid #0a2f4b;
    border-radius: 0 0 12px 12px;
    z-index: 2000;
}
.navbar h1{
    margin-right: 0px;
    font-family:  "carilliantine", sans-serif;
    font-style: normal;
    font-size: 25px;
    color: #d5f3ff;
    transition: 1s;
}
.menu {
    padding: 6px 12px;
    display: flex;
    gap: 12px;
}
.menu a {
    padding-right: 10px;
    padding: 6px 16px;
    border: 1px solid #1a5f7a;
    border-radius: 20px;
    text-decoration: none;

    font-family: "komet", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #d5f3ff;

    transition: 0.2s ease;
    
}
.menu a:hover {
    background: rgba(30, 160, 200, 0.15);
    border-color: #39c2ff;
    color: #ffffff;
}
 @keyframes flutuar {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}
.navbar h1:hover{
    transition: 1s;
    font-size: 20px;
}
/*TELA PRINCIPAL*/
.logo-container {
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
    width: 100%;
    height: 500px; /* ou 100vh se quiser ocupar a tela */
    flex-direction: column;
}
.logo-container h1{
    margin: 0 0 20px;
    font-size: 180px;
    letter-spacing: 2px;
    font-family: "carilliantine", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    transition: 1s;
    justify-content: center;
}
.logo-container h1:hover{
    animation: flutuar 3s ease-in-out infinite;
    font-size: 140px;
    color: rgb(71, 194, 255);
    transition: 1s;
}
span{
    justify-content: center;
    margin: -30px;
    margin-right: 0px;
    font-family:  "carilliantine", sans-serif;
    font-style: normal;
    font-size: 35px;
    color: #d5f3ff;
}
/*SEÇÃO SOBRE*/
.sobre{
    display: flex;
    align-items: center;
    gap: 40px;

    width: 50%;
    margin: 100px auto;
    padding: 30px;

    background: rgba(47, 48, 54, 0.253);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border-radius: 24px;
    border: 1px solid #0af;

    box-shadow: 0 8px 32px rgba(0,0,0,0.4);

    transition: 1s;
}
.sobre:hover{
    width: 70%;
}
.linha-centro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 2px;
    height: 100vh;

    background: linear-gradient(
        to bottom,
        transparent,
        #ffffff,
        transparent
    );

    opacity: 0.5;
    z-index: 1;


}
.eu{
    border-radius: 20px;
    padding-left: 0px;
    height: 350px;
}
.imagemsobre{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.textosobre h1 {
    margin: 0 0 16px;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: "carilliantine", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}
.textosobre p {
    margin: 0;
    max-width: 2200px;
    line-height: 1.6;
    opacity: 0.75;
    font-family: "komet", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
}
/*PROJETOS*/
/* ===== SEÇÃO ===== */
.projetos {
    justify-items: center;
    width: 75%;
    padding: 80px 0;
    margin: 0 auto;
    color: white;
    transition: 1s;
}
.projetos:hover{
    width: 80%;
    transition: 1s;
}
/* ===== TÍTULO ===== */
.titulo-projetos {
    font-size: 50px;
    letter-spacing: 2px;
    font-family: "carilliantine", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}
/* ===== CARROSSEL ===== */
.carrossel {
    border: 1px solid #0af;
    border-radius: 24px;
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* ===== LISTA ===== */
.lista-projetos{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 20px 80px;
    transition: transform 0.6s ease;
    
}
/* ===== CARD ===== */
.card-projeto {
    flex: 0 0 calc((100% - 48px) / 3); /* 3 por vez */
    border-radius: 18px;
    overflow: hidden;
    text-decoration: none;

    transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.janela{
    border-radius: 24px;
    width:100%;
    overflow: hidden;
}
.janela::after {
    border-radius: 25px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 150px;
    height: 100%;

  background: linear-gradient(
    to left,
    rgb(0, 0, 20),
    rgba(0, 0, 0, 0)
  );
}
.card-projeto img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    display: block;
}
/* ===== HOVER DO CARD ===== */
.card-projeto:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 25px rgba(0, 170, 255, 0.35);
}
/* ===== CONTROLES ===== */
.controles {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transform: translateY(-50%);
    pointer-events: none;
}
/* ===== BOTÕES ===== */
.btn {
    margin: 20px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #0af;

    background: rgba(0, 8, 20, 0.7);
    color: white;
    font-size: 22px;

    cursor: pointer;
    pointer-events: all;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s ease;
}
.btn:hover {
    background: rgba(0, 170, 255, 0.2);
    box-shadow: 0 0 14px rgba(0, 170, 255, 0.7);
}
/*HABILIDADES*/
.habilidades {
  width: 75%;
  margin: 120px auto;
  color: white;
}
.titulo-secao {
    font-family: "carilliantine", sans-serif;
    text-align: center;
    font-size: 42px;
    margin-bottom: 48px;
    letter-spacing: 3px;
}
.grid-habilidades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}
.card-habilidade {
    padding: 32px;
    border-radius: 24px;

    background: rgba(47, 48, 54, 0.1);
    backdrop-filter: blur(14px);
    border: 1px solid #0af;

    text-align: center;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-habilidade:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 170, 255, 0.4);
}
.card-habilidade h3 {
    margin: 16px 0 8px;
    font-size: 22px;
    font-family: "carilliantine", sans-serif;
}
.card-habilidade p {
  opacity: 0.75;
  font-size: 15px;
}
.icone {
  font-size: 48px;
align-items: center;
justify-content: center;
}
.nivel {
  width: 100%;
  height: 6px;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  margin-top: 100px;
}

.nivel span {
  display: block;
  height: 100%;
  background: linear-gradient(90deg, #0af, #39c2ff);
  border-radius: 10px;
}

/*RODAPÉ*/
 footer{
  padding: 20px;
  width: 100%;
  display: flex;
  background: #000814;
  border: 1px solid #0af;
  border-radius: 12px 12px 0px 0px;   
  box-sizing: border-box; 
 }

