body {
    background-image: url("fundo-site-portfólio.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0%;
    padding: 0%;
    width: 100%;
    min-height:100%;
    max-width: 1920px;
}
/*HEADER*/
.cabeçalho {
  padding: 20px;
  width: 100%;
  display: flex;
  background: #000814;
  border: 1px solid #0af;
  border-radius: 0 0 12px 12px;   
  box-sizing: border-box; 

}
.navbar {
    width: 100%;
    box-sizing: border-box;

    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;
    background: #020b17;
    border: 1px solid #0a2f4b;
    border-radius: 0 0 12px 12px;
    z-index: 2000;
}
.navbar h1{
    margin-right: 0px;
    font-family:  "carilliantine", sans-serif;
    font-style: normal;
    font-size: 25px;
    color: #d5f3ff;
    transition: 1s;
}
.menu {
    padding: 6px 12px;
    display: flex;
    gap: 12px;
}
.menu a {
    padding-right: 10px;
    padding: 6px 16px;
    border: 1px solid #1a5f7a;
    border-radius: 20px;
    text-decoration: none;

    font-family: "komet", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #d5f3ff;

    transition: 0.2s ease;
    
}
.menu a:hover {
    background: rgba(30, 160, 200, 0.15);
    border-color: #39c2ff;
    color: #ffffff;
}
 @keyframes flutuar {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}
.navbar h1:hover{
    transition: 1s;
    font-size: 20px;
}
/*TELA PRINCIPAL*/
.logo-container {
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
    width: 100%;
    height: 500px; /* ou 100vh se quiser ocupar a tela */
    flex-direction: column;
}
.logo-container h1{
    margin: 0 0 20px;
    font-size: 180px;
    letter-spacing: 2px;
    font-family: "carilliantine", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    transition: 1s;
    justify-content: center;
}
.logo-container h1:hover{
    animation: flutuar 3s ease-in-out infinite;
    font-size: 140px;
    color: rgb(71, 194, 255);
    transition: 1s;
}
span{
    justify-content: center;
    margin: -30px;
    margin-right: 0px;
    font-family:  "carilliantine", sans-serif;
    font-style: normal;
    font-size: 35px;
    color: #d5f3ff;
}
/*SEÇÃO SOBRE*/
.sobre{
    display: flex;
    align-items: center;
    gap: 40px;

    width: 50%;
    margin: 100px auto;
    padding: 30px;

    background: rgba(47, 48, 54, 0.253);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border-radius: 24px;
    border: 1px solid #0af;

    box-shadow: 0 8px 32px rgba(0,0,0,0.4);

    transition: 1s;
}
.sobre:hover{
    width: 70%;
}
.linha-centro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 2px;
    height: 100vh;

    background: linear-gradient(
        to bottom,
        transparent,
        #ffffff,
        transparent
    );

    opacity: 0.5;
    z-index: 1;


}
.eu{
    border-radius: 20px;
    padding-left: 0px;
    height: 350px;
}
.imagemsobre{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.textosobre h1 {
    margin: 0 0 16px;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: "carilliantine", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}
.textosobre p {
    margin: 0;
    max-width: 2200px;
    line-height: 1.6;
    opacity: 0.75;
    font-family: "komet", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
}
/*PROJETOS*/
.projetos {
    width: 100%;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    gap: 32px;

    color: white;
    border: #0af;
}
.lista-projetos {
    display: flex;
    gap: 28px;

    padding: 20px 40px;

    overflow-x: auto;
    overflow-y: hidden;

    scroll-behavior: smooth;
}
.lista-projetos::-webkit-scrollbar {
    height: 5px;
}

.lista-projetos::-webkit-scrollbar-track {
    background:#093547b2 ;
}

.lista-projetos::-webkit-scrollbar-thumb {
    background: #39c2ff;
    border-radius: 10px;
    cursor: grab;
}
.lista-projetos::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
    border-radius: 10px;
}
.card-projeto {
    min-width: 240px;
    height:360px;

    background: rgba(47, 48, 54, 0.12);
    backdrop-filter: blur(12px);

    border-radius: 16px;
    border: 1px solid #0af;
}
.card-projeto {
    transition: transform 0.3s ease;
}
.card-projeto img{
    border-radius: 16px;
    border: 1px solid #0af;
    width: 100%;
    height: 100%;
    object-fit: contain; /* ESSENCIAL */
    display: block;

}
.card-projeto:hover {
    transform: scale(1.1);
    z-index: 2;
}

/*RODAPÉ*/
 footer{
  padding: 20px;
  width: 100%;
  display: flex;
  background: #000814;
  border: 1px solid #0af;
  border-radius: 12px 12px 0px 0px;   
  box-sizing: border-box; 
 }

